#navbar{
  padding: 15px;
  z-index: 1;
}


#navbarlinks{
  padding-left: 20px;
}
.navbar {
  width: 100%; /* Full width */
  background-color: rgb(33, 85, 168);
  transition: top 0.3s;
  border-bottom: 5px solid rgb(0,149,209);
}


.navbar.compressed {
  background: rgb(33, 85, 168, 0.8);
}



/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-toggler{
  background-color: lightblue;
}
